/* HTML elements */

html {
  position: relative;
  min-height: 100%;
}


/* Text */

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}


/* Images */

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


/* Page sections */


/* Responsive classes */

@media screen and (max-width: 420px) {
  .size-medium,
  .size-large {
    display: none;
  }
}

@media screen and (min-width: 420px) {
  .size-small {
    display: none;
  }
}