html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 160px;
	overflow-x: hidden;
	font-family: "Open Sans";
	color: #371854;
	background: url("../img/squairy_light-yellow.png");
	background-repeat: repeat;
}

h1,
h2,
h3,
h4 {
	position: relative;
	font-family: "Bree Serif";
}

.text-center {
	text-align: center;
}

.header {
	position: relative;
	width: 100%;
	color: white;
	background-color: #371854
}

.header__title {
	padding-top: .67em;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 420px) {
	.size-medium,
	.size-large {
		display: none;
	}
}

@media screen and (min-width: 420px) {
	.size-small {
		display: none;
	}
}


/*
#main-header {
	position: relative;
	padding: 30px 0;
	color: #FCB827;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #371854;
	font-family: "Open Sans Condensed"
}

#main-header h1 {
	color: white;
	font-size: 5em;
}

#main-picture {
	background-color: black;
}

#wrapper {
	min-height: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

#cards-container {
	min-height: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .2);
	color: #371854;
	padding-top: 20px;
	padding-bottom: 30px;
}

#cards-container h1 {
	margin-bottom: 20px;
}

.card li {
	font-weight: 500;
}

section#links {
	margin-top: 50px;
}
*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	padding-top: 20px;
	margin-bottom: 0;
	color: white;
	background-color: #291240;
}