html {
    font-size: 16px;
}

body {
    margin-bottom: 160px;
    overflow-x: hidden;
    font-family: "Open Sans";
    color: #371854;
    background: url("../img/squairy_light-yellow.png");
    background-repeat: repeat;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4 {
    position: relative;
    font-family: "Bree Serif";
}

article {
    max-width: 80%;
    margin: 0 auto;
}

article a {
    color: #371854;
}

article section p:not(:first-of-type) {
    text-indent: 1rem;
}

article section p:first-of-type::first-letter {
    float: left;
    margin-top: .3rem;
    margin-right: .3rem;
    line-height: 2rem;
    font-family: "Bree Serif";
    font-size: 3rem;
    font-weight: 700;
}


/*p:first-child:first-letter {
    float: left;
    color: #903;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
}*/

@media screen and (min-width: 800px) {
    article {
        max-width: 60%;
    }
}

.text-center {
    text-align: center;
}

.header {
    position: relative;
    width: 100%;
    color: white;
    background-color: #371854
}

.header__title {
    padding-top: .67rem;
}

.badge-text {
    color: white;
}

.card {
    margin-bottom: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding-top: 20px;
    margin-bottom: 0;
    color: white;
    background-color: #291240;
}

.footer a {
    color: white;
}


/* Overrides */

.img-responsive {
    min-width: 100%;
}